@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-montserrat: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

html,
body {
  font-family: var(--font-montserrat);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #f5f5db;
}

* {
  box-sizing: inherit;
  scroll-behavior: smooth;
}
